/*
	theme - TCHIL
	global.css
	built by Esser Design - Jason Geiger (@jasonjgeiger)
	built on WSC3 CSS standards
	
	Copyright 2011. All Rights Reserved.	
*/
/****************************************|DEFAULTS|****************************************/
*{margin:0; padding:0; cursor:default; margin:0; padding:0; word-wrap:break-word;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
html, body{word-wrap:break-word;height:auto;}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
h1 a, h2 a, h3 a, h4 a{text-decoration:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
a, a:visited, a:hover, a:active, a:focus{-moz-outline-style:none; cursor:pointer; cursor:hand;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
.clear{clear:both;font-size:0px;height:1px;line-height:1%;margin-bottom:-1px;overflow:hidden;}
.mobileapp{-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;} /*Prevent Highlighting*/
html,body{border:0;}
body{height:100%; min-width:780px; min-width:320px; text-align:center; color:#4D4D4F; font-family:Arial, sans-serif; font-size:14px; line-height:18px;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
/****************************************|ASU HEADER/FOOTER|****************************************/
#asu_gold_hdr{min-height:60px;height:60px;margin:0;padding:0;border-bottom:none;background:transparent;}#asu_logo{margin:0;padding:0;display:block;float:none;}#asu_login_search{padding:0;float:none;width:auto;}#asu_login_module{margin:0;padding:0;float:none;visibility:visible!important;}#asu_login_module li{border-right:none;color:#000;line-height:inherit;float:none;list-style-type:none;margin:0;padding:0;visibility:visible!important;}#asu_search_module{height:0;font-size:inherit;line-height:inherit;vertical-align:inherit;}#asu_search_module input#asu_search{border:none;color:inherit;padding:0;margin:0;background:transparent;font-size:inherit;}#asu_search_module input.asu_search_button{margin:0;padding:0;border:none;background:inherit;color:inherit;display:inline;float:none;text-indent:0;font-size:inherit;}#asu_universal_nav li a:link,#asu_universal_nav li a:visited{color:#000;text-decoration:none;}#asu_universal_nav li a:hover,#asu_universal_nav li a:active{color:#903;text-decoration:underline;}#asu_universal_nav li{font:inherit;color:inherit;border:none;color:#000;}#asu_hdr{height:60px;margin:0;padding:0 22px 0 0;font:12px Arial,Helvetica,sans-serif;color:#000;position:relative;min-width:938px;}#asu_hdr img{border:0;}#asu_logo{margin:0;padding-left:22px;display:block;float:left;}#asu_nav_wrapper{margin:0;padding:8px 0 0;float:right;max-width:630px;display:block;}#asu_universal_nav{padding:0;margin:0;float:left;}#asu_universal_nav li{font:1em/1em Arial,Helvetica,sans-serif;display:inline;list-style-type:none;margin:0;padding:0;float:left;text-align:right;}#asu_universal_nav li a{padding:0 .55em;text-decoration:none;}#asu_universal_nav li a:hover{text-decoration:underline;}#asu_login_module{border-left:1px solid #999;margin:0 0 0 .5em;padding:0 0 0 .5em;float:left;}#asu_login_module li{color:#000;font-weight:bold;line-height:1em;float:left;list-style-type:none;margin:0;padding:0 .41em;}#asu_login_module li.end{text-transform:uppercase;padding-right:0;}#asu_login_module li a{text-decoration:none;}#asu_login_module li a:hover{text-decoration:underline;}#asu_search_module{clear:right;float:right;margin:0;padding:0;position:relative;top:10px;}#asu_hdr .hidden,#asu_search_module .search_range legend{display:none;}.asu_search_selection{border:0 none;display:inline;margin:0;padding:0;text-align:left;vertical-align:middle;}.asu_search_selection input[type="radio"]{border:0;margin:-1px 4px 0 2px;vertical-align:middle;}.asu_search_selection label{margin:0 5px 0 3px;}#asu_search_module input.asu_search_button{border:none;background-color:#000;color:#fff;position:relative;padding:2px 2px 3px 3px;font:11px/15px Arial,Helvetica,sans-serif;font-weight:bold;cursor:pointer;}#asu_search_module input[type="text"]{background-color:#f2f2e6;border:1px solid #999;font:11px/15px Arial,Helvetica,sans-serif;color:#333;padding:2px 0 3px 3px;}#asu_footer{font:12px Arial,Helvetica,sans-serif;}#asu_footer li.no-border{border-right:none;}.asu_black_footer{background-color:#000;}.asu_dark_grey_footer{background-color:#666;}.asu_light_grey_footer{background-color:#999;}#asu_footer{display:block;height:24px;margin:0;padding:0 25px 0 0;text-align:right;}#asu_footer ul{margin:0;padding:0;}#asu_footer li{border-right:1px solid #fff;display:inline;list-style-type:none;font:normal 12px/24px Arial,sans-serif;color:#fff;margin:0;padding:0;}#asu_footer li a{color:#fff;text-decoration:none;padding:0 8px;}#asu_footer li a:hover{color:#ffb310;text-decoration:underline;}#asu_footer_contact_info{clear:both;text-align:right;margin:0;padding:10px 30px 10px 0;font:normal .75em/1.2em Arial,sans-serif;color:#666;background-color:#fff;display:block;}#asu_footer_contact_info p{font-size:.95em;margin:0 0 10px 0;padding:0;}#asu_footer_contact_info a{color:#903;text-decoration:underline;font-size:inherit;}#asu_footer_contact_info a:hover{color:#903;text-decoration:underline;}#asu_footer_contact_info a:visited{color:#666;}#myasu_bar{height:25px;background-image:url("../images/tab_gradient.jpg");padding-right:20px;border-top:2px solid #9A2537;}#myasu_bar_myasu{float:left;padding-left:26px;}#myasu_bar_stuff{float:right;}#myasu_bar_info{float:right;}#myasu_bar_profile{float:right;}#myasu_bar_star{float:right;}#myasu_bar img{border:0;}#asu_hdr.asu_hdr_gold{background:#ffcb66;}.asu_hdr_gold #asu_logo a{color:#000;}.asu_hdr_gold #asu_login_module li{color:#666;}.asu_hdr_gold #asu_login_module li a{color:#000;}.asu_hdr_gold #asu_login_module li a:hover{color:#903;}.asu_hdr_gold #asu_universal_nav li,.asu_hdr_gold #asu_universal_nav li a{color:#000;}.asu_hdr_gold #asu_universal_nav li a:hover{text-decoration:underline;color:#903;}.asu_hdr_white{background:#fff;}.asu_hdr_white #asu_logo a{color:#000;}.asu_hdr_white #asu_login_module li{color:#000;}.asu_hdr_white #asu_login_module li a,.asu_hdr_white #asu_login_module li a:hover{color:#000;}.asu_hdr_white #asu_universal_nav li,.asu_hdr_white #asu_universal_nav li a{color:#000;}#asu_hdr.asu_hdr_maroon{background:#860025;}.asu_hdr_maroon #asu_logo a{color:#fff;}.asu_hdr_maroon #asu_login_module li{color:#fff;}.asu_hdr_maroon #asu_login_module li a,.asu_hdr_maroon #asu_login_module li a:hover{color:#fff;}.asu_hdr_maroon .asu_search_selection{color:#fff;}.asu_hdr_maroon #asu_universal_nav li{color:#fff;}.asu_hdr_maroon #asu_universal_nav li a:link,.asu_hdr_maroon #asu_universal_nav li a:visited{color:#fff;}.asu_hdr_maroon #asu_universal_nav li a:hover,.asu_hdr_maroon #asu_universal_nav li a:active{color:#fff;}
/****************************************|ANIMATE|****************************************/
/****************************************|TYPOGRAPHY|****************************************/
h2{
	padding:0 0 12px;
	height:84px;
	font-size:44px;
	line-height:42px;
	color:#646464;
	letter-spacing:-0.06em;
	overflow:hidden;
}
h2 a{color:#646464;}
h3{
	font-size:24px;
	line-height:24px;
	color:#000;
	letter-spacing:-0.06em;
}
h3 a{color:#000;}
h3 span{display:block; padding:0 0 15px; line-height:24px;}
h3 small{display:block; padding:0 0 15px; font-size:17px; line-height:17px; color:#0096ff;}
p{padding:0 0 15px;}
a{color:#0096ff; text-decoration:none;}
a:hover{color:#0096ff; text-decoration:underline;}
.more a{font-weight:bold;}
.more a:after{padding-left:3px; content:'>'}
.c ul{margin:0 0 12px;}
.c li{margin-left:24px; list-style:disc;}
p.contact-info{padding:8px 36px 8px; font-size:12px; color:#000; text-align:right; background:#FFF;}
/****************************************|STRUCTURE|****************************************/
body,#container{background:#e6e1dc;}
#container{height:100%;}
#page{position:relative; margin:0 auto; width:976px; text-align:left;}

/****************************************|NAVIGATION|****************************************/


/****************************************|LOGIN|***************************************/
#user-login, #user-register, #user-pass{
	margin:0 auto;
	padding:40px;
	height:536px;
	width:313px;
}
#user-login div, #user-register div, #user-pass div{
	padding:20px;
	border:1px solid #e8e8e8;
	background:#f8f8f8;
}
#user-login .form-item,
#user-register .form-item,
#user-pass .form-item, 
#user-login .description,
#user-register .description,
#user-pass .description{padding:0; background:none; border:none;}
#user-login .form-item,
#user-register .form-item,
#user-pass .form-item{margin:0 0 12px;}
#user-login input[type="text"], #user-login input[type="password"],
#user-register input[type="text"], #user-register input[type="password"],
#user-pass input[type="text"], #user-pass input[type="password"]
{font-size:14px; height:24px; width:260px;}
#user-login .description,#user-register .description,#user-pass .description{font-size:10px; color:#999;}
#user-login input[type="submit"],
#user-register input[type="submit"],
#user-pass input[type="submit"]
{
	margin: 0px 2px 0px 0;
	padding: 6px 18px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-shadow: #a6771b 0 -1px 0;
	text-transform: uppercase;
	border: 0px;
	border-radius: 3px 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	background:#FFB310;
	cursor: pointer;
}
#user-login input[type="submit"]:hover,
#user-register input[type="submit"]:hover,
#user-pass input[type="submit"]:hover{background:	#d5aa56;}