/*
	theme - ASULIGHTWORKS
	global.css
	built by Esser Design - Jason Geiger (@jasonjgeiger)
	built on WSC3 CSS standards
	
	Copyright 2011. All Rights Reserved.	
*/
/****************************************|ASU HEADER/FOOTER|****************************************/
#asu_gold_hdr{min-height:60px;height:60px;margin:0;padding:0;border-bottom:none;background:transparent;}#asu_logo{margin:0;padding:0;display:block;float:none;}#asu_login_search{padding:0;float:none;width:auto;}#asu_login_module{margin:0;padding:0;float:none;visibility:visible!important;}#asu_login_module li{border-right:none;color:#000;line-height:inherit;float:none;list-style-type:none;margin:0;padding:0;visibility:visible!important;}#asu_search_module{height:0;font-size:inherit;line-height:inherit;vertical-align:inherit;}#asu_search_module input#asu_search{border:none;color:inherit;padding:0;margin:0;background:transparent;font-size:inherit;}#asu_search_module input.asu_search_button{margin:0;padding:0;border:none;background:inherit;color:inherit;display:inline;float:none;text-indent:0;font-size:inherit;}#asu_universal_nav li a:link,#asu_universal_nav li a:visited{color:#000;text-decoration:none;}#asu_universal_nav li a:hover,#asu_universal_nav li a:active{color:#903;text-decoration:underline;}#asu_universal_nav li{font:inherit;color:inherit;border:none;color:#000;}#asu_hdr{height:60px;margin:0;padding:0 22px 0 0;font:12px Arial,Helvetica,sans-serif;color:#000;position:relative;min-width:938px;}#asu_hdr img{border:0;}#asu_logo{margin:0;padding-left:22px;display:block;float:left;}#asu_nav_wrapper{margin:0;padding:8px 0 0;float:right;max-width:630px;display:block;}#asu_universal_nav{padding:0;margin:0;float:left;}#asu_universal_nav li{font:1em/1em Arial,Helvetica,sans-serif;display:inline;list-style-type:none;margin:0;padding:0;float:left;text-align:right;}#asu_universal_nav li a{padding:0 .55em;text-decoration:none;}#asu_universal_nav li a:hover{text-decoration:underline;}#asu_login_module{border-left:1px solid #999;margin:0 0 0 .5em;padding:0 0 0 .5em;float:left;}#asu_login_module li{color:#000;font-weight:bold;line-height:1em;float:left;list-style-type:none;margin:0;padding:0 .41em;}#asu_login_module li.end{text-transform:uppercase;padding-right:0;}#asu_login_module li a{text-decoration:none;}#asu_login_module li a:hover{text-decoration:underline;}#asu_search_module{clear:right;float:right;margin:0;padding:0;position:relative;top:5px;}#asu_hdr .hidden,#asu_search_module .search_range legend{display:none;}.asu_search_selection{border:0 none;display:inline;margin:0;padding:0;text-align:left;vertical-align:middle;}.asu_search_selection input[type="radio"]{border:0;margin:-1px 4px 0 2px;vertical-align:middle;}.asu_search_selection label{margin:0 5px 0 3px;}#asu_search_module input.asu_search_button{border:none;background-color:#000;color:#fff;position:relative;padding:2px 2px 3px 3px;font:11px/15px Arial,Helvetica,sans-serif;font-weight:bold;cursor:pointer;}#asu_search_module input[type="text"]{background-color:#f2f2e6;border:1px solid #999;font:11px/15px Arial,Helvetica,sans-serif;color:#333;padding:2px 0 3px 3px;}#asu_footer{font:12px Arial,Helvetica,sans-serif;}#asu_footer li.no-border{border-right:none;}.asu_black_footer{background-color:#000;}.asu_dark_grey_footer{background-color:#666;}.asu_light_grey_footer{background-color:#999;}#asu_footer{display:block;height:24px;margin:0;padding:0 25px 0 0;text-align:right;}#asu_footer ul{margin:0;padding:0;}#asu_footer li{border-right:1px solid #fff;display:inline;list-style-type:none;font:normal 12px/24px Arial,sans-serif;color:#fff;margin:0;padding:0;}#asu_footer li a{color:#fff;text-decoration:none;padding:0 8px;}#asu_footer li a:hover{color:#ffb310;text-decoration:underline;}#asu_footer_contact_info{clear:both;text-align:right;margin:0;padding:10px 30px 10px 0;font:normal .75em/1.2em Arial,sans-serif;color:#666;background-color:#fff;display:block;}#asu_footer_contact_info p{font-size:.95em;margin:0 0 10px 0;padding:0;}#asu_footer_contact_info a{color:#903;text-decoration:underline;font-size:inherit;}#asu_footer_contact_info a:hover{color:#903;text-decoration:underline;}#asu_footer_contact_info a:visited{color:#666;}#myasu_bar{height:25px;background-image:url("https://www.asu.edu/asuthemes/3.0/images/tab_gradient.jpg");padding-right:20px;border-top:2px solid #9A2537;}#myasu_bar_myasu{float:left;padding-left:26px;}#myasu_bar_stuff{float:right;}#myasu_bar_info{float:right;}#myasu_bar_profile{float:right;}#myasu_bar_star{float:right;}#myasu_bar img{border:0;}#asu_hdr.asu_hdr_gold{background:#ffcb66;}.asu_hdr_gold #asu_logo a{color:#000;}.asu_hdr_gold #asu_login_module li{color:#666;}.asu_hdr_gold #asu_login_module li a{color:#000;}.asu_hdr_gold #asu_login_module li a:hover{color:#903;}.asu_hdr_gold #asu_universal_nav li,.asu_hdr_gold #asu_universal_nav li a{color:#000;}.asu_hdr_gold #asu_universal_nav li a:hover{text-decoration:underline;color:#903;}#asu_hdr.asu_hdr_white{background:#fff;}.asu_hdr_white #asu_logo a{color:#000;}.asu_hdr_white #asu_login_module li{color:#000;}.asu_hdr_white #asu_login_module li a,.asu_hdr_white #asu_login_module li a:hover{color:#000;}.asu_hdr_white #asu_universal_nav li,.asu_hdr_white #asu_universal_nav li a{color:#000;}#asu_hdr.asu_hdr_maroon{background:#860025;}.asu_hdr_maroon #asu_logo a{color:#fff;}.asu_hdr_maroon #asu_login_module li{color:#fff;}.asu_hdr_maroon #asu_login_module li a,.asu_hdr_maroon #asu_login_module li a:hover{color:#fff;}.asu_hdr_maroon .asu_search_selection{color:#fff;}.asu_hdr_maroon #asu_universal_nav li{color:#fff;}.asu_hdr_maroon #asu_universal_nav li a:link,.asu_hdr_maroon #asu_universal_nav li a:visited{color:#fff;}.asu_hdr_maroon #asu_universal_nav li a:hover,.asu_hdr_maroon #asu_universal_nav li a:active{color:#fff;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;line-height:1.4;word-wrap:break-word;background:transparent; border:0;}
html, body{height:auto;}
body{min-width:780px; min-width:320px;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
table{border-collapse:collapse;border-spacing:0;}
.clear{clear:both;font-size:0px;height:1px;line-height:1%;margin-bottom:-1px;overflow:hidden;}
.mobileapp, #masthead h1,#masthead h2{-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;} /*Prevent Highlighting*/
/****************************************|TYPOGRAPHY|****************************************/
body{text-align:center; color:#4D4D4F; font-family:Arial, sans-serif; font-size:12px; line-height:16px;}
h1,h2,h3,h4{}
h1 a, h2 a, h3 a, h4 a{text-decoration:none;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
a{color:#903; text-decoration:none;}
a:hover{text-decoration:underline;}
a, a:visited, a:hover, a:active, a:focus{-moz-outline-style:none; cursor:pointer;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
#content img{border:2px solid #FFFFFF;}
/****************************************|IMAGES/BACKGROUNDS|****************************************/
body{background-position:50% 0; background-repeat:no-repeat; background-color:#dfdfdf;}
#background{background-image:url(grfx/bg-01.jpg); background-position:50% 0; background-repeat:no-repeat;}
#container{background:url(grfx/dot.png) 0 0 repeat;}
#navigation li,.widget-27 .header h2,#breadcrumbs li a,a.facebook, a.twitter, a.vimeo,a.blog,.widget-27 .article{background-image:url(grfx/grfx.gif); background-repeat:no-repeat;}
#navigation, #breadcrumbs,#masthead,#aside .widget,.initiatives-widget,.solutions-widget{position:relative; box-shadow:0 0 3px rgba(0,0,0,0.2);}
/****************************************|STRUCTURE|****************************************/
#container{height:auto;}
#header{background:#FFF;}
#asu_hdr,#page{margin:0 auto !important; padding:0 !important; width:960px; text-align:left;}
#asu_hdr{height:60px; overflow:hidden;}
#breadcrumbs{margin-bottom:8px; height:30px; background-color:rgba(255,255,255,0.95);  overflow:hidden;}
#content{margin-top:8px;}
#main{}
#aside{margin-top:8px; width:300px;}
#footer{margin-top:8px; width:960px;}
/*cols*/
.c{float:left;}
.f{padding-left:0 !important;}
.l{clear:right; padding-right:0 !important;}
.c1of1{width:100%;}
.c1of2{width:50%;}
.c1of2 .padding{padding:0 8px;}
.c1of3{width:33%;}
.c2of3{width:66%;}
.c1of3 .padding, .c2of3 .padding{padding:0 8px;}
.c1of4{width:25%;}
.c2of4{width:50%;}
.c3of4{width:75%;}
.c1of4 .padding, .c2of4 .padding, .c3of4 .padding{padding:0 8px;}
.nomargintop{margin-top:0 !important;}
.nomarginbottom{margin-bottom:0 !important;}
/****************************************|NAVIGATION|****************************************/
#navigation{
	margin-top:45px;
	height:40px;
	width:959px;
	background-color:rgba(255,255,255,0.95);
}
#navigation li.primary{float:left; padding:0; background-position:0 -108px;}
#navigation li.primary a.parent{display:block; padding:0 97px 0 19px; color:#3f3e3f; line-height:40px; font-size:16px; text-decoration:none;}
#navigation li.primary a.parent:hover, #navigation li.primary a.parent:active, #navigation li.primary a.parent:focus{color:#FFF; background:#990033;}
#navigation li.active a.parent{background:purple !important;}
#navigation li:first-child{background:none;}
#nav .subnav{
	position:absolute;
	top:24px;
	left:-999em;
	min-width:160px;
	background:rgb(0,0,0);	
	background:rgba(0,0,0,0.8);	
}
#nav .subnav li{float:none; height:34px; background:none;}
#nav .subnav li a{padding:0 36px 0 10px; line-height:34px;}
#nav .subnav li a:after{content:'';}
#nav .subnav li a:active{padding-top:1px;}
#nav li:hover .subnav, .subnav-active{left:auto;}
/*BREADCRUMBS*/
#breadcrumbs ul{padding:0; width:600px;}
#breadcrumbs li{float:left; padding:0 0 0 2px;}
#breadcrumbs li a{padding:0 0 0 22px; font-size:12px; line-height:30px; background-position:0 -87px;}
#breadcrumbs li a, .sharepoint a{color:#999; text-decoration:none; text-transform:uppercase;}
#breadcrumbs li a:hover, .sharepoint a:hover{color:#202020;}
#breadcrumbs li:first-child a{background:none;}
/*SHAREPOINT*/
.sharepoint{display:none; position:absolute; top:8px; right:24px; font-size:12px;}
/****************************************|MASTHEAD|****************************************/
#masthead{margin-top:8px; background-color:rgba(255,255,255,0.4);}
#masthead .next,#masthead .prev{position:absolute; bottom:22px;font-size:24px; font-weight:bold; color:rgba(255,255,255,0.5); z-index:12; cursor:pointer;}
#masthead .next:hover,#masthead .prev:hover{color:rgba(255,255,255,1.0);}
#masthead .next{right:20px;}
#masthead .prev{right:40px;}
#masthead, #masthead .children{position:relative; height:325px; width:960px; overflow:hidden;}
#masthead li.child{
	position:relative;
	display:block;
	float:left;
	height:325px;
	width:960px;
	overflow:hidden;
}
#masthead li.child .holder{
	position:relative;
	height:325px;
	width:960px;
}
#masthead .header{position:absolute; left:24px; bottom:24px;}
#masthead h1{margin-bottom:14px; width:500px; font-size:64px; line-height:52px; letter-spacing: -0.06em; word-spacing: -0.05em; color:#FFF;}
#masthead h2{width:440px; font-size:15px; line-height:21px; font-weight:normal; color:#FFF;}
#masthead .overlay{position:absolute; top:0; right:0; width:400px; height:325px; background:url(/lib/grfx/masthead-arrows.png) -400px 0 no-repeat; z-index:10;}
#masthead .hit{position:absolute; display:block; top:0; right:0; width:960px; height:325px; text-indent:-999em; z-index:11;}
#masthead:hover .overlay,#masthead .overlay:hover{background-position:0 0;}
/**|Initiatives|**/
.feature-what-is-lightworks{background:url(/lib/img/masthead/what-is-lightworks.jpg) 0 0 no-repeat;}
.feature-energy-at-asu{background:url(/lib/img/masthead/energy-at-asu.jpg) 0 0 no-repeat;}
.feature-azcati{background:url(/lib/img/masthead/azcati.jpg) 0 0 no-repeat;}
.feature-what-are-the-solutions{background:url(/lib/img/masthead/what-are-the-solutions.jpg) 0 0 no-repeat;}
/****************************************|MAIN|****************************************/
#main .content{padding-top:24px; padding-right:24px; padding-bottom:18px; background-color:rgba(255,255,255,0.7);}
#main .content .header h1{margin:0; color:#990033; font-size:26px; line-height:26px; text-transform:uppercase;}
#main .content .header h1 small{color:#202020; font-size:18px; text-transform:none;}
#main .content h2{color:#990033; font-size:18px;}
#main .content h3{color:#202020; font-size:14px;}
#main .content p, #main .content li{margin:0 0 8px;}
/**|Solution|**/
body.solution .c3of4 .padding{padding:0 18px 0 0;}
body.solution .c3of4 img.masthead{margin-top:12px;}
body.solution .c1of4 .padding{padding:0 0 0 12px;}
body.solution #main h2{margin:18px 0 8px;}
body.solution #main h3{margin:18px 0 8px;}
.subwidget{margin:0 0 24px;}
.subwidget h4{margin:12px 0 6px; text-transform:uppercase;}
.subwidget li{padding-left:8px; background:url(/lib/grfx/bullet.gif) 0 0 no-repeat;}
.subwidget li small{font-size:10px;}
.share li{margin:0 0 2px 2px; padding:0; background:none;}
.share .additional-social{margin:4px 0 0 0;}
/****************************************|HOMEPAGE|****************************************/
/**|Solutions|**/
.solutions-widget .header h1{margin-bottom:8px;}
.solutions-widget .solution{padding-bottom:9px; height:110px;}
.solutions-widget .solution.first{padding-bottom:27px;}
.solutions-widget .thumb{float:left; width:144px;}
.solutions-widget .entry{margin-left:162px; padding:8px 0 0; height:96px;}
.solutions-widget .solution h2, .solutions .solution h2 a{font-size:18px; color:#202020;}
.solutions-widget .solution p.desc{font-size:12px;}
.solutions-widget .solution p.more{margin:0; font-size:12px; font-weight:bold; text-align:right;}
.solutions-widget .solution p.more a{color:#000; text-decoration:none; text-transform:lowercase;}
.solutions-widget .solution p.more a:after{content:"\00BB";}
/**|Initiatives|**/
.initiatives-widget .nav h1,.initiatives-widget .initiative h2{margin:0 0 18px; font-size:16px; font-weight:normal; text-transform:uppercase; color:#FFF;}
.initiatives-widget{margin-top:8px; height:400px; width:652px; background:#008ed6; overflow:hidden;}
.initiatives-widget .nav{position:absolute; top:0; left:0; padding:24px 0 24px 24px; width:236px; z-index:50;}
.initiatives-widget .initiative h2{color:#202020;}
.initiatives-widget .nav li{border-bottom:1px solid #FFF; border-top:1px solid #005e8d;}
.initiatives-widget .nav li:first-child, .initiatives .nav li.active:first-child{border-top:1px solid #FFF;}
.initiatives-widget .nav li.active{border-top:1px solid #6dd0f7;}
.initiatives-widget .nav li a{display:block; padding:0 24px; line-height:31px; color:#FFF; text-decoration:none;}
.initiatives-widget .nav li.active a{color:#202020; background:#6dd0f7;}
.initiatives-widget .initiative{position:absolute; top:0; left:260px; padding:24px; height:352px; width:344px; background:#6dd0f7; box-shadow:-1px 0 0 rgba(0,0,0,0.03); z-index:49;}
.initiatives-widget .initiative img{margin:0 0 18px;}
.initiatives-widget .initiative p{font-size:12px; line-height:16px;}
.initiatives-widget .initiative p.desc{height:90px;}
.initiatives-widget .initiative p.more{text-align:right;}
.initiatives-widget .initiative .btn{
	display:inline-block;
	margin:18px 0 0;
	padding:0 8px;
	color:#202020;
	font-size:12px;
	font-weight:bold;
	line-height:24px;
	text-transform:lowercase;
	text-decoration:none;
	background:#FFF;
	box-shadow:1px 1px 0 rgba(200,200,200,1.0);
}
.initiatives-widget .initiative .btn span{color:#1095d9;}
.initiatives-widget section.active{z-index:50;}
/****************************************|SIDEBAR|****************************************/
#aside .widget, #aside .block{margin-bottom:8px;}
/**|MENU|**/
.block-menu_block .header{
	height:28px;
	border-bottom:1px solid #7e002a;
	background:#990033;
}
.block-menu_block .header h2{
	padding:0 0 0 14px;
	color:#FFF;
	font-size:16px;
	font-weight:normal;
	line-height:28px;
	text-transform:uppercase;
}
.block-menu_block ul.menu{margin:0; padding:0;}
.block-menu_block ul.menu li{margin:0; padding:0; list-style:none;}
.block-menu_block li a{
	display:block;
	padding:12px 0 12px 14px;
	color:#FFF;
	font-size:13px;
	border-top:1px solid #c6c6c6;
	border-bottom:1px solid #878787;
	background:#a1a1a1;
}
.block-menu_block li:first-child a{border-top:none;}
.block-menu_block li:last-child a{border-bottom:none;}
.block-menu_block li a.active{
	color:#000;
	background:#d4d4d4;
}
/**|WIDGETS|**/
.widget .header{height:30px; background:#ffc03a; border-bottom:1px solid #ffae00; overflow:hidden;}
.widget .header h2{padding:0 16px; font-size:14px; font-weight:bold; line-height:34px; text-transform:uppercase; color:#FFF;  background-position:0 0;}
.widget .section{padding:16px;}
.widget.green{background:#568e14;}
.widget.green .header{background:#437c00; border-bottom:1px solid #498407;}
.widget.green .section{border-top:1px solid #4e7b1b;}
.widget.litegreen{background:#8dc73f;}
.widget.litegreen .header{background:#76b81d; border-bottom:1px solid #7eb436;}
.widget.litegreen .section{border-top:1px solid #81b936;}
.widget.black{background:#282828;}
.widget.black .header{background:#222; border-bottom:1px solid #202020;}
.widget.black .section{border-top:1px solid #111;}
.widget.orange{background:#f8cf76;}
.widget.orange .header{background:#ffc03a; border-bottom:1px solid #ffae00;}
.widget.orange .section{border-top:1px solid #e8c16c;}
.widget.blue{background:#6dd0f7;}
.widget.blue .header{background:#008ed6; border-bottom:1px solid #0c9ee8;}
.widget.blue .section{border-top:1px solid #0180c1;}
.widget.blue .section p{margin-top:12px; color:#202020;}
/**|Spotlight|**/
.widget-27 .header h2{padding:0 30px; background-position:0 0;}
.widget-27 .section{padding-top:0;}
.widget-27 .article{margin:8px 0; padding:12px 0 0; background-position:-300px 0;}
.widget-27 .article:first-child{background:none;}
.widget-27 .article h3, .widget-27 .article h3 a{color:#333333; font-family:Georgia, "Times New Roman", Times, serif; font-size:12px;}
.widget-27 .article p.desc{color:#333333; font-size:12px;}
.widget-27 .article p.more{padding:4px 0 0; font-size:12px; font-weight:bold; text-align:right; text-transform:lowercase;}
.widget-27 .article p.more a{color:#202020; text-decoration:none;}
.widget-27 .article p.more a:after{content:"\00BB";}
.widget-27 .article p.archive{padding:4px 0 0; font-size:12px; font-weight:bold; text-align:right;}
.widget-27 .article p.archive a{color:#9f710f; text-decoration:none; text-transform:lowercase;}
.widget-27 .article p.archive a:after{content:"\00BB";}
/**|Intro|**/
#aside .widget-29 p{margin-top:8px; color:#FFF;}
#aside .widget-29 p.more, #aside .widget-31 p.more{padding:4px 0 0; font-size:12px; font-weight:bold; text-align:right;}
#aside .widget-29 p.more a, #aside .widget-31 p.more a{color:#FFF; text-decoration:none; text-transform:lowercase;}
#aside .widget-29 p.more a:after{content:"\00BB";}
/**|WHAT IS LIGHTWORKS|**/
#aside .widget-31 p{margin-top:8px; color:#202020;}
#aside .widget-31 p.more{padding:4px 0 0; font-size:12px; font-weight:bold; text-align:right;}
#aside .widget-31 p.more a{color:#202020; text-decoration:none; text-transform:lowercase;}
#aside .widget-31 p.more a:after{content:"\00BB";}
/**|Contact|**/
#aside .widget-35, #aside .widget-35 a{color:#202020;}
/**|Social Media|**/
.widget-33 .section{padding:8px 16px 12px; height:36px;}
.widget-33 li{float:left; display:block; margin:8px 4px 4px; height:24px; width:24px;}
a.facebook, a.twitter, a.vimeo,a.blog{display:block; height:24px; width:24px; overflow:hidden; text-indent:-999em;}
a.linkedin,a.stumbledupon,a.reddit,a.myspace,a.delicious,a.digg{display:block; height:14px; width:14px; overflow:hidden; text-indent:-999em;}
a.facebook{background-position:-48px -30px;}
a.facebook:hover{background-position:-48px -54px;}
a.twitter{background-position:-24px -30px;}
a.twitter:hover{background-position:-24px -54px;}
a.vimeo{background-position:0 -30px;}
a.vimeo:hover{background-position:0 -54px;}
a.blog{background-position:-72px -30px;}
a.blog:hover{background-position:-72px -54px;}
/****************************************|FOOTER|****************************************/
#footer p{margin:0 0 24px; padding:4px 32px; text-align:right; font-size:12px; color:#0000; background:#FFF;}
#footer p span{padding:0 8px; font-size:10px; line-height:20px;}
/****************************************|ANIMATE|****************************************/
@-webkit-keyframes reset{
0% {opacity: 0;}
	100% {opacity: 0;}
}	 
@-webkit-keyframes fade-in{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
#header,#navigation, #breadcrumbs,#masthead,#aside,#breadcrumbs,.initiatives,.solutions{
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
}
#header {-webkit-animation-delay: 0, 0s;}
#navgiation {-webkit-animation-delay: 0, 0.1s;}
#masthead {-webkit-animation-delay: 0, 0.2s;}
#breadcrumbs{-webkit-animation-delay: 0, 0.3s;}
.solutions{-webkit-animation-delay: 0, 0.4s;}
.initiatives{-webkit-animation-delay: 0, 0.6s;}
#aside {-webkit-animation-delay: 0, 0.5s;}
/**/
#navigation a{
	-moz-transition:all .5s ease-in-out;
	-webkit-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}
#masthead .next, #masthead .prev, #breadcrumbs a{
	-moz-transition:color .5s ease-in-out;
	-webkit-transition:color .5s ease-in-out;
	transition:color .5s ease-in-out;
}
#masthead .overlay{
	-moz-transition:background .5s ease-in-out;
	-webkit-transition:background .5s ease-in-out;
	transition:background .5s ease-in-out;
}
/************************************************************************************
MEDIA QUERIES
--
768x1024 iPad
320x480 iPhone
640x960 iPhone4
480x360, 360x480, 320x240 Blackberry
************************************************************************************/
/*Good Size*/
#breadcrumbs{width:652px;}
#main{float:left; width:652px;}
#main .content{padding-left:24px;}
#aside{margin-left:660px;}
.widget{width:300px;}
@media only screen and (max-width: 999px){
	#breadcrumbs{width:652px;}
	#main{float:left; width:652px;}
	#main .content{padding-left:24px;}
	#aside{margin-left:660px;}
	.widget{width:300px;}
}
/*Better Size*/
@media only screen and (min-width: 1000px){
	#asu_hdr{margin-left:16px;}
	#page{width:1000px;}
	#navigation{margin-left:16px;}
	#masthead{margin-left:40px;}
	#breadcrumbs{margin-left:16px; width:652px;}
    #main{float:left; width:668px;}
	#main .content{padding-left:40px;}
	.solutions-widget{margin-left:16px;}
	#aside{margin-left:678px; width:316px;}
	.widget{width:300px;}
	.widget-33{width:316px;}
	#footer{margin-left:18px;}	
}