body{
margin:0;
padding:0;
width:100%;
background-size:100%;
color: #000;
font-family:"proxima-nova",sans-serif;
font-size: 12px;
font-size-adjust: none;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: 1.33em;
background: #000 url(../images/body-bg.jpg) repeat-x;
}
#page-wrapper{
width:1040px;
margin:0 auto;
overflow:hidden;
padding: 0;
background: #fff url(../images/page_body_bg.jpg) no-repeat;
}
#page-wrapper a{
text-decoration:none;
color: #903;
font-weight: bolder;
}
#page-wrapper a:hover{
text-decoration:underline;
}
#page{
width: 100%;
}
/*.front div#main-wrapper {
background: #fff url(../images/front_leftside_bg.jpg) repeat-y;
background-size: 22.716%;
}*/
div#main-wrapper {
background: transparent url(../images/page_content_bg.png) bottom no-repeat;
}
.front div#main {
background: url(../images/front-content-2013.jpg) left top 28px no-repeat;
background-size: 84%;
}
#content,
#navigation,
#sidebar-first,
#sidebar-second {
  float: left;
}
.with-navigation #content,
.with-navigation #sidebar-second {
  margin-top: 3em;
}
#navigation {
background: #000;
color: #fff;
height: 2.3em;
}
#main-menu li {
display: inline;
}
ul#main-menu {
list-style: none;
margin: 6px;
}
div#main
#sidebar-first {
width: 200px;
margin: 30px 0 0 0;
}
#sidebar-second {
 width: 794px;
 margin: 0 0 0 2%;
}
div.region.region-content {
width: 66%;
margin: 0 0 0 30px;
}
h1#page-title {
display: none;
}
h1, 
h2 {
font-size: 2.4em;
margin: 40px 0 30px 0;
font-weight: 100;
}
h3{
font-size: 1.67em;
border-bottom: 1px solid #ccc;
line-height: 1.33em;
margin: 0 0 0.25em 0;
padding: 5px 0;
clear: both;
font-weight: normal;
}
h4 {
margin: 6px 0;
}
h5{
font-weight:bold;
border-bottom: 1px solid #ccc;
font-size: 1.16em;
padding: 5px 0;
margin-bottom: .25em;
}
p {
margin: .75em 0;
}
body li a.active {
color:#fdb813;
font-weight: bold;
}
#main-menu a {
color: #fff;
margin: 0 30px 0 0;
}
#main-menu a.active {
color: #fdb813;
}
div#site-slogan {
display: none;
}
hr,
.ahem,
#skip-link {
  display: none;
}
#content hr {
  display: block;
}
div#block-system-main {
margin: 0 0 94px 0;
}
div#block-block-2,
#block-views-videos-block {
padding: 0 66px;
margin: 300px 10px;
}
div#block-block-2 {
margin: 300px 0 0 0;
}
div#block-block-3 img {
float: right;
margin: 0 60px 20px 0;
}
#asu_footer {
border-top: 4px solid #9a0235;
}
.sidebar-second #content .section {
}
.two-sidebars #content .section {
}
div#highlighted {
float: left;
}
#footer {
}
/* IE6 fix */
* html #sidebar-first {
  left: 160px;
}
#block-block-1 p {
margin: 0;
text-align: right;
padding: 20px 30px;
color: #666;
background: #fff;
}
#block-block-4 p{
margin:0;
}
#block-block-4 img{
width: 100%;
}
div#brochure_content {
margin: 20px;
float: right;
}
/*news*/
section#block-views-news-block {
margin: 330px 0 0 14px;
}
#block-views-news-block h2 {
text-align: right;
color: #fff;
margin: 10px 0 20px;
font-weight: bolder;
}
#news{
color: #fff;
}
#news a {
color: #faa635 !important;
}
.news-more {
text-align: right;
}
.news-date{
font-weight: 100;
}
/*tables*/
thead{
background-color:#e6e6e6;
}
th {
padding: 10px 30px;
font-weight: bold;
text-align: center;
}
td {
padding: 10px 20px;
width: 250px;
}
td ul {
margin: 0;
padding: 10px 10px 10px 30px;
}
span.un_bold{
font-weight: 100;
}